

#nombreDelPokemon{
    background-color:aquamarine;
    color: black;
    font-size: 25px;
}

#pesoDelPokemon {
    background-color: aquamarine;
    color: black;
    font-size: 25px;
}

#alturaDelPokemon{
    background-color: aquamarine;
    color: black;
    font-size: 25px;
}
